<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<permission
		android:name="${applicationId}.permission.PLAYBACK_SERVICE"
		android:protectionLevel="signature" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"
		tools:ignore="ForegroundServicesPolicy" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
	<uses-permission
		android:name="${applicationId}.permission.PLAYBACK_SERVICE" />

	<application
		tools:targetApi="33"
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:localeConfig="@xml/locales_config"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.Navic"
		android:networkSecurityConfig="@xml/network_security_config"
		android:usesCleartextTraffic="true">

		<activity
			android:name=".MainActivity"
			android:exported="true"
			android:theme="@style/Theme.Navic">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<service
			android:name=".shared.PlaybackService"
			android:enabled="true"
			android:foregroundServiceType="mediaPlayback"
			android:permission="${applicationId}.permission.PLAYBACK_SERVICE"
			android:exported="true">
			<intent-filter>
				<action android:name="androidx.media3.session.MediaSessionService" />
			</intent-filter>
		</service>

		<!-- miniplayer receiver -->
		<receiver android:name=".widgets.miniplayer.MiniPlayerReceiver" android:exported="false" android:label="Mini Player">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="${applicationId}.NOW_PLAYING_UPDATED" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/mini_player_widget" />
		</receiver>

		<!-- turn table receiver -->
		<receiver android:name=".widgets.turntable.TurnTableReceiver" android:exported="false" android:label="Turn Table">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="${applicationId}.NOW_PLAYING_UPDATED" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/turn_table_widget" />
		</receiver>

		<!-- needed for widgets to control playback -->
		<receiver android:name="androidx.media3.session.MediaButtonReceiver" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MEDIA_BUTTON" />
			</intent-filter>
		</receiver>

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>

	</application>
</manifest>
